@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@400;700;800&family=Josefin+Sans:wght@400;600&family=Lexend+Deca&family=Oswald:wght@200&family=Roboto:wght@300;400;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container-main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#miles {
  height: 400px;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(9 9 9 / 100%));
  filter: drop-shadow(0px 0px 20px rgba(9 9 9 / 100%));
  animation: miles 40s infinite linear;
}

#title {
  height: 200px;
  animation: title 5s infinite linear;
  filter: drop-shadow;
  filter: drop-shadow(0px 08px 0px rgba(0 0 0 / 90%));
}

#stone-1 {
  position: absolute;
  top: -100px;
  left: -1300px;
  height: 1000px;
  transform: rotate(180deg);
  animation: rock1 40s infinite 5s linear;
  z-index: -1;
}

#stone-2 {
  position: absolute;
  top: -200px;
  left: -1300px;
  height: 1000px;
  transform: rotate(100deg);
  animation: rock1 40s infinite 12s linear;
  z-index: -1;
}

#stone-3 {
  -webkit-filter: drop-shadow(0px 0px 20px rgba(9 9 9 / 100%));
  filter: drop-shadow(0px 0px 20px rgba(9 9 9 / 100%));
  animation: miles 40s infinite linear;

  position: absolute;
  top: 10%;
  left: 10%;
  height: 1200px;
  animation: rock 40s infinite linear;
  z-index: -1;
}

@keyframes miles {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes title {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
@keyframes rock {
  0% {
    left: -1000px;
    rotate: (0deg);
  }

  50% {
    rotate: (50deg);
  }

  100% {
    left: 100%;
    rotate: (0deg);
  }
}

@keyframes rock1 {
  0% {
    left: -1000px;
    rotate: (50deg);
  }

  50% {
    rotate: (0deg);
  }

  100% {
    left: 100%;
    rotate: (50deg);
  }
}

.container-button {
  margin-top: 12px;
  display: flex;
  gap: 8%;
}
.containerHide{
  display: none;
}
.btnModal {
  width: 220px;
  height: 50px;
  border: none;
  font-weight: bolder;
  border-radius: 10px;
  outline: none;
  color: #d71313;
  background: #111;
  cursor: pointer;
  position: relative;
}

.btnModal:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btnModal:active:after {
  background: transparent;
}

.btnModal:hover:before {
  opacity: 1;
}

.btnModal:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btnInfo {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight: bolder;
}

.btnInfo:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btnInfo:active {
  color: #000;
}

.btnInfo:active:after {
  background: transparent;
}

.btnInfo:hover:before {
  opacity: 1;
}

.btnInfo:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.container-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.5);
}

dialog {
  margin: auto;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #eeeded;

  padding: 20px;

  background-color: #000;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
  width: 60%;
}

dialog button {
  width: 200px;
  opacity: 90%;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(255 0 0 / 100%));
  filter: drop-shadow(0px 0px 20px rgba(255 0 0 / 100%));
  text-decoration: none;
  font-size: 16px;
  color: #eeeded;
  background-color: #d71313;
  border: none;
  padding: 5px;
  border-radius: 10px;
  transition: 0.8s;
}

.container-modal2 {
  display: flex;
  gap: 10px;
}

.element {
  width: 10px;
  height: 45px;
  background-color: #d71313;
}

.modal2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.modal2 img {
  border-radius: 10px;
  width: 300px;
  margin-left: 50px;
}

.content-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5%;
}

.text {
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.text small {
  font-size: 10px;
  text-align: center;
}

.container-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body{
  max-height: 100vh;
}
.container-image img {
  width: 100px;
}
@media (max-width: 568px){
  .container-main {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  body{
    overflow-y: auto;
  }
  #miles {
    height: 350px;
    -webkit-filter: drop-shadow(0px 0px 20px rgba(9 9 9 / 100%));
    filter: drop-shadow(0px 0px 20px rgba(9 9 9 / 100%));
    animation: miles 40s infinite linear;
  }
  
  #title {
    height: 160px;
    animation: title 5s infinite linear;
    filter: drop-shadow;
    filter: drop-shadow(0px 08px 0px rgba(0 0 0 / 90%));
  }
  .close{
    width: 200px;
    opacity: 90%;
    -webkit-filter: drop-shadow(0px 0px 20px rgba(255 0 0 / 100%));
    filter: drop-shadow(0px 0px 20px rgba(255 0 0 / 100%));
    text-decoration: none;
    font-size: 16px;
    color: #eeeded;
    background-color: #d71313;
    border: none;
    padding: 5px;
    border-radius: 10px;
    transition: 0.8s;
  }
  .reveal{
    width: 200px;
    opacity: 90%;
    text-decoration: none;
    font-size: 16px;
    color: #eeeded;
    background: url(../img/background.png);
    border: none;
    padding: 5px;
    border-radius: 10px;
    transition: 0.8s;
  }
  #stone-1 {
    position: absolute;
    top: -20px;
    left: -1200px;
    height: 600px;
    transform: rotate(180deg);
    animation: mediarock1 30s infinite 5s linear;
    z-index: -1;
  }
  
  #stone-2 {
    position: absolute;
    top: -100px;
    left: -1300px;
    height: 600px;
    transform: rotate(100deg);
    animation: mediarock1 30s infinite 12s linear;
    z-index: -1;
  }
  
  #stone-3 {
    -webkit-filter: drop-shadow(0px 0px 20px rgba(9 9 9 / 100%));
    filter: drop-shadow(0px 0px 20px rgba(9 9 9 / 100%));
    animation: miles 5s infinite linear;
  
    position: absolute;
    top: 10%;
    left: -1200;
    height: 800px;
    animation: mediarock 30s infinite linear;
    z-index: -1;
  }
  
 

  @keyframes mediarock {
    from {
      left: -800px;
    }
    to{
      left: 100%;
    }
  }
  
  @keyframes mediarock1 {
    from {
      left: -800px;
    }
    to{
      left: 100%;
    }
  }
  .btnInfo{
    display: none;
  }

  .btnModal{
    display: none;
  }
.containerHide{
  background-image: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}
.containerHide h1{
 background-image: url(../img/minimalistic-illustration-of-spider-web-ai-generated_731790-12886.webp);
  font-weight: bolder;
  color: #f2efef;
 text-shadow: rgb(105, 95, 95) 0px 2px 0px;
}
}


