* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media (max-width: 800px) {
  .card {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    display: flex;
    border-radius: 20px;
    /* Exibe os elementos em linha */
    border: 2px solid #8f8888; /* Adicione uma borda ao card */
    padding: 10px; /* Adicione algum espaçamento interno */
    margin: 10px; /* Adicione margem ao redor do card */

    width: 85vw;
    max-height: 25vh;
    /* Defina a largura máxima do card */
  }
  .card-info h1 {
    font-size: 20px;
  }
  .card-info h3 {
    font-size: 15px;
  }
  .rickmorty {
    height: 08vh;
    width: 50vw;
  }

  .pageN {
    position: fixed;
    bottom: 40%;
    right: 0%;
    opacity: 95%;
    width: 20%;
  }
  .pageP {
    display: none;
    position: fixed;
    bottom: 40%;
    left: 00%;
    opacity: 95%;
    width: 20%;
    transform: scaleX(-1);
  }
  .card img {
    min-width: 10vw;
    min-height: 20vh;
    /* A imagem se ajustará automaticamente ao tamanho do contêiner pai */
    height: auto; /* A altura da imagem é ajustada automaticamente para manter a proporção */
    border-radius: 10px;
  }
  .filter {
    width: 90vw;
  }
}
@media (min-width: 800px) {
  .card {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    display: flex;
    border-radius: 20px;
    /* Exibe os elementos em linha */
    border: 2px solid #8f8888; /* Adicione uma borda ao card */
    padding: 10px; /* Adicione algum espaçamento interno */
    margin: 10px; /* Adicione margem ao redor do card */

    width: 38vw;
    max-height: 30vh;
    /* Defina a largura máxima do card */
  }
  .card-info h1 {
    font-size: 30px;
  }
  .card-info h3 {
    font-size: 18px;
  }

  header img {
    height: 10vh;
    width: 60vw;
  }
  header img {
    height: 15vh;
    width: 40%;
  }
  .pageN {
    position: fixed;
    bottom: 37%;
    right: 02%;
    opacity: 95%;
    width: 10%;
  }
  .pageP {
    position: fixed;
    bottom: 37%;
    left: 02%;
    opacity: 95%;
    width: 10%;
    transform: scaleX(-1);
  }
  .card img {
    min-width: 5vw;
    min-height: 10vh;
    /* A imagem se ajustará automaticamente ao tamanho do contêiner pai */
    height: auto; /* A altura da imagem é ajustada automaticamente para manter a proporção */
    border-radius: 10px;
  }
  .filter {
    width: 35vw;
  }
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #000000;
}
input {
  color: #39ff14;
  font-weight: bold;
  font-size: large;
}
.statusColor {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  box-shadow: #000000 1px 1px 5px;
  margin: none;
}

.dead {
  background-color: red;
}

.alive {
  background-color: rgb(7, 247, 7);
}

.unknown {
  background-color: lightgray;
}
.card {
  margin-top: 50px;
  background-color: #eee7e7;

  min-width: 40vw;
  min-height: 30vh;
}
header {
  margin-bottom: 0;
}
::placeholder {
  color: rgb(29, 227, 11);
  text-shadow: #eef5f6 1px 1px 5px;
  font-weight: bolder;
}
.filter {
  margin-top: 20px;

  height: 03 vh;
  display: grid;
  grid-template-columns: repeat(4, 240px);
  gap: 20px;
  padding: 10px 20px;
  background-image: url(img/b0b1f5d33de00e3c21ad29bbba25e31b.gif);

  border: 1px solid #2196f3;
  border-radius: 60px;
  box-shadow: #b9f2c3 8px 8px 8px;
}

.filter img {
  opacity: 50%;
}

header {
  font-size: 34px;
  background-image: url(img/desktop-wallpaper-rick-and-morty-texture.jpg);
  color: #12d6dd;
  text-shadow: #000000 5px 5px 4px;
  padding: 30px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  border-radius: 10px;
}

.pageN:hover {
  cursor: pointer;
  background-image: url("img/texture.jpg");
  border-radius: 95%;
}

.pageP:hover {
  cursor: pointer;
  background-image: url("img/texture.jpg");
  border-radius: 95%;
}

main {
  padding: 10px;
  display: flex;
  justify-content: center;
  max-width: 100vw;

  flex-wrap: wrap;
  background-image: url(img/HD-wallpaper-black-stars-black-aesthetic.jpg);
}

#spanStatus {
  font-weight: bold;
  font-size: large;
}
.user-list {
  justify-content: center;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}

/* Estilize o card */

/* Estilize a imagem */

/* Estilize as informações do card */
.card-info {
  text-align: center;

  max-width: 100%;
  max-height: 100%;
  flex-wrap: wrap;
  padding: 1.8px; /* Adicione espaçamento interno às informações */
  padding-bottom: 100px;
}

/* Estilize o título do card */

/* Estilize o texto de descrição do card */

footer {
  display: flex;
  justify-content: center;
  max-height: 600px;
  background-image: url(img/HD-wallpaper-black-stars-black-aesthetic.jpg);
}

.remimg {
  align-items: center;
  display: flex;
}
.remimg img {
  max-width: 50vw;
  max-height: 50vh;
}

#foots {
  text-align: center;
  color: white;
}
#foots a {
  color: #39ff14;
}

.alive::before {
  background-color: #39ff14;
}

.dead::before {
  background-color: crimson;
}

.unknown::before {
  background-color: #ccc;
}
.card:hover {
  color: #eef5f6;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-shadow: #000000 2px 2px 2px;

  font-weight: 500;
  border: #000000 3px 3px 3px;
  scale: 1.1;
  background: url(img/desktop-wallpaper-rick-and-morty-texture.jpg);
}
.main {
  width: 60px;
}
.pickle img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 0px;
  
}
.pickle {
  margin-top: 20px;
  margin-bottom: 0px;
  display: flex;
  text-decoration: none;
  font-size: 2rem;
  color: #0091f9;
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #000000;

}
.pickle :hover {
  scale: 1.2;
  
}

